{% extends 'base.html' %}

{% block content %}

<h5>Информация о продукте</h5>


<div class="row">
    <div class="col-4">
        <p> <img src="{{product.pic}}" class="img-fluid" alt="pic"> </p>
        <h5>Наименование:</h5>
        <p>{{product.name}}</p>
        <h5>Описание:</h5>
        <p>{{product.description}}</p>
        <h5>Категория:</h5>
        <p> {{product.get_category_display}} </p>
        <h5>Цена:</h5>
        <p> {{product.price}} KZT</p>
        <h5>Остаток:</h5>
        <p>{{product.qty}} шт.</p>
        <h5>Add to cart</h5>
        <form action="/" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" value="add_to_cart">Add Product</button>
        </form>
    </div>
</div>


{% endblock %}
