{% extends 'base.html' %}
{% load static %}

{% block content %}

<h5>Вы действительно хотите удалить продукт?</h5>
<div class="row">
    <div class="col-4">
        <p> <img src="{{product.pic}}" class="img-fluid" alt="pic"> </p>
        <h5>Наименование:</h5>
        <p>{{product.name}}</p>
        {% for choice in choices %}
        {% if product.category == choice.0 %}
        <h5>Категория:</h5>
        <p class="card-text">{{choice.1}}</p>
        {% endif %}
        {% endfor %}
        <h5>Цена:</h5>
        <p> {{product.price}} KZT </p>
        <h5>Количество</h5>
        <p>{{product.qty}} шт. </p>

        <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Удалить">  
            <a class="btn btn-secondary" href="{% url 'index_view' %}">Нет</a>
        </form>
    </div>
</div>




{% endblock %}
