{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for product in products %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.pic }}" class="img-fluid rounded-start" alt="product_pic">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          {% for choice in choices %}
            {% if product.category == choice.0 %}
              <p class="card-text">{{choice.1}}</p>
            {% endif %}
          {% endfor %}
          <p class="card-text"><small class="text-muted">{{product.price}}</small></p>

        </div>
        <a href="{% url 'display_product' product.id %}" class="btn">Подробнее</a>
      </div>
    </div>
  </div>
  {% endfor %}


{% endblock %}